<h2>Witaj w Home!</h2>
<p>Jesteś zalogowany.</p>
<button (click)="logout()">Wyloguj</button>

<div class="container">
  <div class="user-list">
    <span>Lista użytkowników</span>
    <div
      *ngFor="let user of userItems; trackBy: trackByUserId"
      class="user-item"
      (click)="showUser(user._id)"
    >
      {{ user.email }}
    </div>
  </div>
  <div *ngIf="user" class="user">
    <input
      type="text"
      [(ngModel)]="searchQuery"
      placeholder="Search by id"
    />
    <button (click)="findUser()">search</button>
    <button (click)="editMode = !editMode">edit</button>
    <div>_id: {{ user._id }}</div>
    <div *ngIf="!editMode">Email: {{ user.email }}</div>

    <div *ngIf="editMode">
      <label>
        Email:
        <input type="email" [(ngModel)]="user.email" placeholder="Enter email"
      /></label>
    </div>

    <div *ngIf="!editMode">Roles: {{ user.roles }}</div>

    <div *ngIf="editMode">
      Roles:
      <label *ngFor="let role of rolesList">
        <input
          type="checkbox"
          [disabled]="role === 'USER'"
          [value]="role"
          (change)="onRoleChange($event)"
          [checked]="user.roles.includes(role)"
        />
        {{ role }}
      </label>
    </div>
    <div>Provider: {{ user.provider }}</div>
    <div>isVerified: {{ user.isVerified }}</div>

    <button *ngIf="editMode" (click)="saveUser()">Save</button>
  </div>
</div>
